.example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    border: 1px solid #555;
  }
  a{
    color:inherit;
    text-decoration: none;
  }
  a:hover{
    color:#00A0C6;
    cursor:pointer;
    text-decoration: none;
  }