<body>
    <div>
        <div class="container">
            <div  class="row justify-content-center align-items-center">
                <div  class="col-md-6">
                    <div  class="col-md-12" >
                     <form> 
                         <div>
                             <h1> Schedule an Interview</h1>
                         </div>
                         
                        
                         <div class="form-group">
                            <label><h2>Enter Applicant Email </h2></label>
                            <input type="email" class="form-control" id="candidateemail" name="candidateemail" placeholder="Enter Candidate Email"  required minlength="1" #input1 [(ngModel)]="candidateEmail">
                         </div>
                         <div class="form-group">
                            <label><h2>Enter Panelist Email</h2></label>
                            <input type="email" class="form-control"  id="empemail" name="empemail" placeholder="Enter Employee Email" #input2 [(ngModel)]="employeeEmail">
                         </div>
                         <div class="form-group">
                            <label><h2>Select Date</h2></label>
                            <input type="date" min="{{currentDate | date:'yyyy-MM-dd'}}" class="form-control"  id="date" name="date"  #input3 [(ngModel)]="interview.date">
                         </div>
                         <div class="form-group">
                            <label><h2>Select Time</h2></label>
                            <input type="time" step="1"  class="form-control"  id="time" name="time" #input4 [(ngModel)]="interview.time">
                         </div>

                         <!--drop down-->
                         <div class="form-group">
                            <label><h2>Round</h2></label>
                         <select  class="form-control" [(ngModel)]="selectedValue">
                             <option value="R1"> R1 </option>
                             <option value="R2"> R2 </option>
                         </select>
                        </div>
                       
                        <p></p>
                         <h1>
                             <button type="submit" class="button" (click)="getCandidate()">Schedule</button>
                         </h1>
                         <p id="show_success"> </p>
                      </form>
                    
                    </div>
                </div>
            </div>
        </div>
     </div>
     
    </body>