<div class="container" id="show">
    <div class="heading" style="text-align: center;">All Interview Slots</div>
    <!-- <table class="input">
        <tr>
            <td>
                <mat-form-field class="input-field" appearance="outline" color="primary">
                    <mat-label>Employee Name</mat-label>
                     <input #employeeName matInput type="text" (keyup)="getEmployeeName(employeeName.value)"> -->
                <!-- </mat-form-field>
            </td>
            <td>
                <button (click)="getSlot()" class="search-btn" mat-raised-button color="primary">
                    Search
                    <mat-icon aria-hidden="false" aria-label="Example Search icon">search</mat-icon>
                </button>
            </td>
        </tr>
    </table> --> 
    <table class = "data feedbacks">
         <thead class="table-heading">
         <tr>
            
             <th><h2>Employee-Id</h2></th>
             <th><h2>Candidate-Id</h2></th>
             <th><h2>Date</h2></th>
             <th><h2>Time</h2></th>
             <th><h2>Round</h2></th>
             <!-- <th><h2>Skill</h2></th> -->
         </tr>
         </thead>
         <tbody>
             <tr *ngFor="let s of slots | paginate:{ itemsPerPage:5, currentPage: p}">
                 <td>{{s.empId}}</td>
                 <td>{{s.candidateId}}</td>
                 <td>{{s.date}}</td>
                 <td>{{s.time}}</td>
                 <td>{{s.round}}</td>
             </tr>
         </tbody>

        <div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
       
    </table>
 </div>
 <button (click)="downloadFile()" class="download" mat-raised-button color="primary">
    Download
</button>
 <!-- <button (click)="downloadFile()">Download CSV File</button> -->