
<div id="login">
  
   <div class="container">
       <div id="login-row" class="row justify-content-center align-items-center">
           <div id="login-column" class="col-md-6">
               <div id="login-box" class="col-md-12">
                <form> 
                    <div>
                        <h1>REGISTRATION FORM</h1>
                    </div>
                    <div class="form-group">
                       <label><h2>Name </h2></label>
                       <input type="text" class="form-control" id="user_name"  name="user_name" placeholder="Enter User Name"  required minlength="4" #input1>
                    </div>
                    <div class="form-group">
                       <label><h2>Email Id</h2></label>
                       <input type="email" class="form-control"  id="user_email" name="user_password" placeholder="Enter Accolite email id" #input2>
                    </div>
                    <div class="form-group">
                        <label><h2>Contact No</h2></label>
                        <input type="text" class="form-control"  id="user_contact" name="user_contact" placeholder="Enter Contact No" #input3>
                    </div>
                    <div class="form-group">
                        <label><h2>Gender</h2></label>
                        <br>
                        <select>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label><h2>Profile URL</h2></label>
                        <input type="url" class="form-control"  id="user_profile" name="user_profile" placeholder="Enter profile link" #input5>
                     </div>
                    
                   <p></p>
                    <h1>
                        <button type="submit" class="button">Register</button>
                    </h1>
                 </form>
               
               </div>
           </div>
       </div>
   </div>
</div>
