<!-- 
    <mat-list role="list" style="background-color: aquamarine;">
        <mat-list-item role="listitem">
            <b><a [routerLink]="['viewprofile']" style=" text-decoration: none">View profile</a></b>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b><a [routerLink]="['viewskill']" style=" text-decoration: none">View skills</a></b>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b><a [routerLink]="['viewscheduledinterview']" style=" text-decoration: none">View scheduled
                    interview</a></b>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b> <a [routerLink]="['slotbook']" style=" text-decoration: none">Slot book</a></b>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b> <a [routerLink]="['candidateFeedback']" style=" text-decoration: none">Candidate Feedback</a></b>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b> <a [routerLink]="['incentive']" style=" text-decoration: none">Apply For Incentive</a></b>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b> <a href='#' style=" text-decoration: none">Logout</a></b>
        </mat-list-item>
    </mat-list>
 -->
