<body>
    <div class="heading">
        <p>Employee Available Slots</p>
    </div>

    <div class="content">
    <table class="input">
        <tr>
            <td>
                <mat-form-field class="input-field" appearance="outline" color="primary">
                    <mat-label>Employee Name</mat-label>
                    <input #employeeName matInput type="text" (keyup)="getEmployeeName(employeeName.value)">
                </mat-form-field>
            </td>
            <td>
                <button (click)="getEmployee()" class="search-btn" mat-raised-button color="primary">
                    Search
                    <mat-icon aria-hidden="false" aria-label="Example Search icon">search</mat-icon>
                </button>
            </td>
        </tr>
    </table>

    <div class="data">
        <table class="slots">
            <thead class="table-heading">
                <th> Employee Name</th>
                <th> Email </th>
                <th> Date </th>
                <th> Time </th>
            </thead>
            <tr *ngFor="let slot of slots | paginate:{itemsPerPage:5,currentPage:p};">
                <td>{{slot.name}}</td>
                <td>{{slot.email}}</td>
                <td>{{slot.date}}</td>
                <td>{{slot.time}}</td>
            </tr>
            <!-- <pagination-controls(pageChange)" p = $event "></pagination-controls> -->
            <pagination-controls (pageChange)=" p = $event"></pagination-controls>
        </table>
    </div>
</div>
</body>